/*  MICROTHEMER STYLES  */


/*= Menu principal ============ */

/** Menu principal >> .uagb-block-bd85be22 .uagb-ifb-title-prefix **/
.uagb-block-bd85be22 .uagb-ifb-title-prefix {
	text-shadow: 5px 5px rgb(0, 0, 0) !important;
}

/** Menu principal >> .uagb-block-bd85be22 path **/
.uagb-block-bd85be22 path {
	text-shadow: 0 0 rgb(0, 0, 0) !important;
}

/** Menu principal >> .uagb-block-bd85be22 svg **/
.uagb-block-bd85be22 svg {
	
}

/** Menu principal >> #colophon .widget-title **/
#colophon .widget-title {
	color: rgb(221, 153, 51) !important;
}

/** Menu principal >> #astra-widget-address-3 .address-meta **/
#astra-widget-address-3 .address-meta {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #astra-widget-address-3 .address-icons **/
#astra-widget-address-3 .address-icons {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #post-26 .uagb-ifb-title-prefix **/
#post-26 .uagb-ifb-title-prefix {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #post-26 .uagb-ifb-title-wrap **/
#post-26 .uagb-ifb-title-wrap {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> .wpforms-field-text .wpforms-field-label **/
.wpforms-field-text .wpforms-field-label {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #wpforms-174-field_3-container .wpforms-field-label **/
#wpforms-174-field_3-container .wpforms-field-label {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #wpforms-174-field_1-container .wpforms-field-description **/
#wpforms-174-field_1-container .wpforms-field-description {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #post-26 .uagb-ifb-title **/
#post-26 .uagb-ifb-title {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> #wpforms-174-field_6-container .wpforms-field-label **/
#wpforms-174-field_6-container .wpforms-field-label {
	color: rgb(255, 255, 255) !important;
}

/** Menu principal >> Uagb section background image uagb section overlay **/
.uagb-section__background-image .uagb-section__overlay {
	color: rgb(255, 255, 255) !important;
}

